.month {
    width: 240px;
    border: 1px solid #ccc;
    margin: 2px;
    display: inline-block;
}

.header {

}

.day {
    width: 30px;
    height: 30px;
    background: #ccc;
    display: inline-block;
    margin: 2px;
}

.range {
    background: #9ff3a6;
}

.weekend {
    background: #fc0;
}